
.thunar tab
{
    background: @thunar-colour;
}

.thunar tab:checked
{
    background: @custom-col-magenta;
}

.thunar .view
{
    background: @thunar-colour;
}

.thunar .view .rubberband
{
    background: alpha(@custom-col-magenta, 0.50);
    border: 1px solid @custom-col-magenta;
}

.thunar .view:selected
{
    background: @custom-col-magenta;
}

.thunar toolbar
{
    background: @dark-thunar-colour;
}

.thunar toolbar button:hover
{
    background: @thunar-colour;
}

.thunar toolbar button:active
{
    background: @custom-col-magenta;
}

.thunar toolbar button:checked
{
    background: @custom-col-magenta;
}


.thunar toolbar *
{
    padding-top: 0;
    padding-bottom: 0;
}

.thunar menubar
{
    background: @thunar-colour;
}

.thunar
{
    background: @thunar-colour;
}

.thunar statusbar
{
    background: @thunar-colour;
}
.thunar toolbar entry
{
    background: @black-thunar-colour;
}

.thunar .shortcuts-pane
{
    background: @thunar-colour;
}

.thunar .shortcuts-pane .view
{
    background: @custom-col-blue;
    padding: 3px;
    border-radius: 10px;
}

.thunar notebook treeview button
{
    background: @dark-thunar-colour;
}

.thunar .shortcuts-pane .view *:selected
{
    background: @custom-col-magenta;
}

