
.thunar tab
{
    background: @custom-col-black;
}

.thunar tab:checked
{
    background: @tasklist-colour-col3;
}

.thunar .view
{
    background: @custom-col-black;
}

.thunar .view .rubberband
{
    background: alpha(@tasklist-colour-col3, 0.50);
    border: 1px solid @tasklist-colour-col3;
}

.thunar .view:selected
{
    background: @tasklist-colour-col3;
}

.thunar toolbar
{
    background: @custom-col-black;
}

.thunar toolbar button:hover
{
    background: @custom-col-black;
}

.thunar toolbar button:active
{
    background: @tasklist-colour-col3;
}

.thunar toolbar button:checked
{
    background: @tasklist-colour-col3;
}


.thunar toolbar *
{
    padding-top: 0;
    padding-bottom: 0;
}

.thunar menubar
{
    background: @custom-col-black;
    text-align: center;
}

.thunar
{
    background: @custom-col-black;
}

.thunar statusbar
{
    background: @custom-col-black;
}
.thunar toolbar entry
{
    background: @custom-col-black;
}

.thunar .shortcuts-pane .view
{
    background: @custom-col-black;
    text-align: center;
    padding: 5px;
}

.thunar .shortcuts-pane .view *:selected
{
    background: @tasklist-colour-col3;
}

