/*@define-color panel-colour #8b4f4f;*/
@define-color panel-colour #0a4e6e;
@define-color text-colour #EFF3C1;
@define-color tasklist-colour shade(@panel-colour, 0.85);
@define-color tasklist-hover-colour shade(@panel-colour, 1.5);
@define-color button-hover-colour shade(@panel-colour, 0.7);
@define-color button-select-colour shade(@panel-colour, 0.55);
@define-color button-bottom-colour shade(@panel-colour, 2);
