
/*@import 'colors.css';*/
@import 'panel.css';

calendar, GtkCalendar
{
    background: @custom-col-3;
    color: @text-colour;
    font-weight: bold;
}

calendar:selected, GtkCalendar:selected
{
    background: @tasklist-colour-shaded;
}

#whiskermenu-window
{
    opacity: 0.78;
	border-radius: 24px;
    background-color: @tasklist-colour-col3;
    font-family: 'Fira Sans', sans-serif;
	font-size: 14px;
}
#whiskermenu-window button {
  background-color: @tasklist-colour-col3;
  color: @text-colour;
  border-radius: 12px;
  /*border-radius: 6px;*/
}
#whiskermenu-window button:hover
{
    background-color: @tasklist-colour-shaded;
}
#whiskermenu-window entry
{
    background-color: @button-select-colour-shaded;
}
#whiskermenu-window .categories
{
    background-color: @tasklist-colour-shaded;
}
#whiskermenu-window .launchers
{
    background-color: @tasklist-colour-shaded;
}
#whiskermenu-window .launchers:hover
{
    background-color: @tasklist-hover-colour-shaded;
    color: @custom-col-black;
}
